.mat-toolbar-single-row {
  background-color: rgb(57, 131, 128);
  color: white;
}
.add-tab-button {
  color: gray;
  margin-top: 30px;
  float: right;
  border: none;
  right: 20px;
}

.mat-tab-group {
  padding-left: 5%;
}
